# hidden files and folder in root
**/.*
**/.*/
# typescript files
src/**
test/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.tsbuildinfo
# test outputs
dist/test/**
# cmake output
packages/parquet-reader/**
!packages/parquet-reader/dist/*.js
!packages/parquet-reader/prebuilds
node_modules/parquet-viewer
