# hidden files and folder in root
**/.*
**/.*/
# typescript files
src/**
test/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.tsbuildinfo
# test outputs
dist/test/**
# cmake output
**/parquet-reader/build/**
Dockerfile
packages/parquet-reader/*
!packages/parquet-reader/dist/*.js
!packages/parquet-reader/prebuilds
